services:
    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
            args:
                NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
        image: frontend
        container_name: frontend
        ports:
            - "${FRONTEND_PORT}:3000"
        env_file:
            - .env
        depends_on:
            - backend
        networks:
            - app_network

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        image: backend
        container_name: backend
        ports:
            - "${BACKEND_PORT}:8000"
        depends_on:
            - postgres
        env_file:
            - .env
        networks:
            - app_network

    postgres:
        image: postgres:17
        container_name: postgres
        ports:
            - "${DB_PORT}:5432"
        environment:
            - PGPORT=5432
            - POSTGRES_DB=${DB_NAME}
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app_network

    qdrant:
        image: qdrant/qdrant:latest
        container_name: qdrant
        ports:
            - "${QDRANT_HTTP_PORT}:6333"
            - "${QDRANT_GRPC_PORT}:6334"
        volumes:
            - qdrant_data:/qdrant/storage
        networks:
            - app_network

networks:
    app_network:
        driver: bridge

volumes:
    postgres_data:
    qdrant_data:
